<!--/* DO NOT USE THIS CODE FOR YOUR ASSIGNMENT */-->

<!doctype html>
<html ng-app="newsApp">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="font-awesome-4.6.3/css/font-awesome.min.css">
</head>
<body>
    <header>
        <h1>NEWS!</h1>
    </header>
    <section ng-controller="NewsController">
        <div id="newsCon">
        <ul>
            <li class="article" ng-repeat="element in news"><i ng-click="addToStarred()" class="fa fa-star" aria-hidden="false"></i>   {{ element.title }}</li>
        </ul>
        </div>
    </section>


</body>
</html>